*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none ;
}
li{
    list-style: none;
}
.nav_container{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(27, 27, 27);
    color: white;
    height: 80px;
    width: 100%;
    align-items: center;
}
.nav_container > div {
    margin: 10px;
}
.nav_menu{
    display: flex;
    height: 100%;
}
.nav_menu > li {
    
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav_menu > li:hover{
    background-color: rgb(172, 172, 172);
    color: black;
}